#backToTopBtn {
  position: fixed;
  bottom: 30px;
  right: 1px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 999;
}

#backToTopBtn:hover {
  opacity: 0.8;
}

#backToTopBtn img {
  width: 150px;   /* Gør pilen mindre */
  height: 150px;
  display: block;  /* Fjerner eventuelt ekstra afstand */
}